@tailwind base;
@tailwind components;
@tailwind utilities;

/*CHANGE AS NEEDED*/
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	/*All containers hold these properties to generate a default space*/
	.space,
	.spaceHighlighted,
	.spaceHighlightedLookingAt,
	.spaceHighlightedLookingAtSpecific,
	.spaceNumberTaken {
		text-align: center;
		transform: translate(5.55%, 5.55%);
		display: inline-flex;
		align-items: center;
		flex-direction: column;
		font-size: 20px;
		font-weight: 400;
		border: 1px solid black;
		background: white;
		padding: 2px;
		margin: -1px;
		margin-bottom: -3px;
		width: 40px;
		height: 40px;
		position: relative;
	}
	.row {
		display: flex;
	}
	.spaceHighlighted,
	.spaceHighlightedLookingAt {
		background: #00ffff;
	}
	.spaceHighlightedLookingAtSpecific {
		background: #bbdefb;
	}
	.spaceNumberTaken {
		background: red;
		color: white;
	}
	.solveButton{
		border-radius: 10%;
		text-align: center;
		width: 80px;
		height: 25px;
		background: lightgreen;
		color: black;
	}
	.timer{
		color: gray;
		font-size: 15px;
		font-weight: 700;
	}
	.difficultyButton{
		border-radius: 10%;
		text-align: center;
		width: 80px;
		height: 25px;
		background: gray;
		color: black;
		border-color: black;
	}
	.Main {
		display: flex;
		flex-direction: row;
		position: fixed;
		transform: translate(50%, 50%);
		width: 50%;
		height: 360px;
	}
	.killerSudokuTitle{
		position: fixed;
		top: 15%;
		left: 50%;
		font-weight: bold;
		font-size: 48px;
	}
	.killerSudokuNames{
		color: black;
		font-size: 18px;
		font-weight: 500;
	}
	/*
	.space[data-status='top'],
	.spaceHighlighted[data-status='top'],
	.spaceHighlightedLookingAt[data-status='top'],
	.spaceHighlightedLookingAtSpecific[data-status='top'],
	.spaceNumberTaken[data-status='top'] {
		border-top: 4px solid black;
	}

	.space[data-status='left'],
	.spaceHighlighted[data-status='left'],
	.spaceHighlightedLookingAt[data-status='left'],
	.spaceHighlightedLookingAtSpecific[data-status='left'],
	.spaceNumberTaken[data-status='left'] {
		border-left: 4px solid black;
	}

	.space[data-status='bottom'],
	.spaceHighlighted[data-status='bottom'],
	.spaceHighlightedLookingAt[data-status='bottom'],
	.spaceHighlightedLookingAtSpecific[data-status='bottom'],
	.spaceNumberTaken[data-status='bottom'] {
		border-bottom: 4px solid black;
	}

	.space[data-status='right'],
	.spaceHighlighted[data-status='right'],
	.spaceHighlightedLookingAt[data-status='right'],
	.spaceHighlightedLookingAtSpecific[data-status='right'],
	.spaceNumberTaken[data-status='right'] {
		border-right: 4px solid black;
	}
	*/
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

/*DONT EDIT*/
:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 255, 255, 255;
}

/*DONT EDIT*/
@media (prefers-color-scheme: light) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

/*DONT EDIT*/
body {
	background: white;
}