@tailwind base;
@tailwind components;
@tailwind utilities;

/*CHANGE AS NEEDED*/
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	/*All containers hold these properties to generate a default space*/
	.space,
	.spaceHighlighted,
	.spaceHighlightedLookingAt,
	.spaceHighlightedLookingAtSpecific,
	.spaceNumberTaken {
		cursor: default;
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: 24px;
		font: lighter;
		font-weight: 150;
		border: 1px solid black;
		background: white;
		padding: 2px;
		margin: -1px;
		margin-bottom: -3px;
		width: 40px;
		height: 40px;
		position: relative;
	}
	.spaceHighlighted,
	.spaceHighlightedLookingAt {
		background: lightblue;
	}
	.spaceHighlightedLookingAtSpecific {
		background: #00ffff;
	}
	.spaceNumberTaken {
		background: red;
		color: white;
	}
	.avatar {
		vertical-align: middle;
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}	
	hr.solid{
		border-top: 1px solid gray;
		margin-bottom: 20px;
	}
	.navbar {
		width: 100%;
		padding: 20px 0;
		display: flex;
		justify-content: center;
		background:  white;
	}
	.navbar a{
		position: relative;
		display: inline-block;
		font-size: 20px;
		color: black;
		text-decoration: none;
		margin: 0 25px;
	}
	.navbar a::after{
		content: '';
		position: absolute;
		left: 0;
		bottom: -4px;
		width: 100%;
		height: 3px;
		background: mediumblue;
		border-radius: 40px;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform .3s;
	}	
	.navbar a:hover::after{
		transform-origin: left;
		transform: scaleX(1);
	}
	.numberPanel{
		border-radius: 5px;
		color: cornflowerblue;
		font-size: 40px;
		font-weight: 300;
		background: lightgray;
		width: 60px;
		height: 60px;
		margin: 7.5px;
	}
	.numberPanel:hover{
		color: darkturquoise;
		background: whitesmoke;
	}
	.panelConglomerate{
		margin-left: 10px;
	}
	.boardAndButtons{
		display: flex;
		justify-content: flex-end;
		translate: 50%;
	}
	.newGame{
		align-items: center;
		border-radius: 5px;
		color: white;
		height: 65px;
		width: 225px;
		font-size: 18px;
		font-weight: 600;
		background: royalblue;
	}
	.newGame:hover{
		background: cornflowerblue;
	}
	.difficultyButton,
	.solveButton{
		margin: 5px;
		padding-right: 10px;
		padding-left: 10px;
		text-align: center;
		height: 30px;
		color: black;
	}
	.difficultyButton:hover,
	.solveButton:hover{
		background: lightgray;
		border-radius: 10px;
	}
	.buttonsContainer{
		align-items: center;
		display: inline-flex;
		flex-direction: row;
	}
	.buttonsContainerTwo{
		align-items: center;
		display: inline-flex;
		flex-direction: column;
	}
	.timerContainer{
		translate: 50%;
		display: inline-flex;
		align-items: center;
		padding: 20px;
	}
	.timer{
		color: gray;
		font-size: 18px;
		font-weight: 250;
	}
	.Main {
		display: flex;
		flex-direction: row;
	}
	.killerSudokuTitle{
		translate: 50%;
		font-weight: 400;
		font-size: 48px;
	}
	.killerSudokuNames{
		color: black;
		font-size: 18px;
		font-weight: 500;
	}
	.material-symbols-outlined{
		padding-left: 5px;
	}
	.material-symbols-outlined:hover{
		color: lightslategray;
		font-size: 27px;
	}
	/*
	.space[data-status='top'],
	.spaceHighlighted[data-status='top'],
	.spaceHighlightedLookingAt[data-status='top'],
	.spaceHighlightedLookingAtSpecific[data-status='top'],
	.spaceNumberTaken[data-status='top'] {
		border-top: 4px solid black;
	}

	.space[data-status='left'],
	.spaceHighlighted[data-status='left'],
	.spaceHighlightedLookingAt[data-status='left'],
	.spaceHighlightedLookingAtSpecific[data-status='left'],
	.spaceNumberTaken[data-status='left'] {
		border-left: 4px solid black;
	}

	.space[data-status='bottom'],
	.spaceHighlighted[data-status='bottom'],
	.spaceHighlightedLookingAt[data-status='bottom'],
	.spaceHighlightedLookingAtSpecific[data-status='bottom'],
	.spaceNumberTaken[data-status='bottom'] {
		border-bottom: 4px solid black;
	}

	.space[data-status='right'],
	.spaceHighlighted[data-status='right'],
	.spaceHighlightedLookingAt[data-status='right'],
	.spaceHighlightedLookingAtSpecific[data-status='right'],
	.spaceNumberTaken[data-status='right'] {
		border-right: 4px solid black;
	}
	*/
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

/*DONT EDIT*/
:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 255, 255, 255;
}

/*DONT EDIT*/
@media (prefers-color-scheme: light) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

/*DONT EDIT*/
body {
	background: white;
}