@tailwind base;
@tailwind components;
@tailwind utilities;

/*CHANGE AS NEEDED*/
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	/*All containers hold these properties to generate a default space*/
	.dashedBorder,
	.dashedBorderTopOpen,
	.dashedBorderRightOpen,
	.dashedBorderLeftOpen,
	.dashedBorderBottomOpen,
	.dashedBorderRightBottomOpen,
	.dashedBorderRightTopOpen,
	.dashedBorderLeftBottomOpen,
	.dashedBorderLeftTopOpen,
	.dashedBorderTopBottomOpen,
	.dashedBorderLeftRightOpen,
	.dashedBorderAllClosed,
	.space,
	.spaceHighlighted,
	.spaceHighlightedLookingAt,
	.spaceHighlightedLookingAtSpecific,
	.spaceNumberTaken,
	.spaceTop,
	.spaceHighlightedTop,
	.spaceHighlightedLookingAtTop,
	.spaceHighlightedLookingAtSpecificTop,
	.spaceNumberTakenTop,
	.spaceLeft,
	.spaceHighlightedLeft,
	.spaceHighlightedLookingAtLeft,
	.spaceHighlightedLookingAtSpecificLeft,
	.spaceNumberTakenLeft,
	.spaceBottom,
	.spaceHighlightedBottom,
	.spaceHighlightedLookingAtBottom,
	.spaceHighlightedLookingAtSpecificBottom,
	.spaceNumberTakenBottom,
	.spaceRight,
	.spaceHighlightedRight,
	.spaceHighlightedLookingAtRight,
	.spaceHighlightedLookingAtSpecificRight,
	.spaceNumberTakenRight,
	.spaceBottomLeft,
	.spaceHighlightedBottomLeft,
	.spaceHighlightedLookingAtBottomLeft,
	.spaceHighlightedLookingAtSpecificBottomLeft,
	.spaceNumberTakenBottomLeft,
	.spaceBottomRight,
	.spaceHighlightedBottomRight,
	.spaceHighlightedLookingAtBottomRight,
	.spaceHighlightedLookingAtSpecificBottomRight,
	.spaceNumberTakenBottomRight,
	.spaceTopLeft,
	.spaceHighlightedTopLeft,
	.spaceHighlightedLookingAtTopLeft,
	.spaceHighlightedLookingAtSpecificTopLeft,
	.spaceNumberTakenTopLeft,
	.spaceTopRight,
	.spaceHighlightedTopRight,
	.spaceHighlightedLookingAtTopRight,
	.spaceHighlightedLookingAtSpecificTopRight,
	.spaceNumberTakenTopRight {
		cursor: default;
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: 20px;
		font: lighter;
		font-weight: 200;
		border: 1px solid rgb(150, 150, 150);
		background: white;
		width: 45px;
		height: 45px;
		position: relative;
		color: #344861;
	}
	.dashedBorder,
	.dashedBorderTopOpen,
	.dashedBorderRightOpen,
	.dashedBorderLeftOpen,
	.dashedBorderBottomOpen,
	.dashedBorderRightBottomOpen,
	.dashedBorderRightTopOpen,
	.dashedBorderLeftBottomOpen,
	.dashedBorderLeftTopOpen,
	.dashedBorderTopBottomOpen,
	.dashedBorderLeftRightOpen,
	.dashedBorderAllClosed{
		display: flex;
		vertical-align: middle;
		color: inherit;
		background: inherit;
		margin:	auto;
		border: none;
		width: 40px;
		height: 40px;
		padding: 0;
		align-items: center;
	}
	.dashedBorderLeftOpen{
		border-right: 2px dashed #344861;
		border-top: 2px dashed #344861;
		border-bottom: 2px dashed #344861;
	}
	.dashedBorderTopOpen{
		border-right: 2px dashed #344861;
		border-left: 2px dashed #344861;
		border-bottom: 2px dashed #344861;
	}
	.dashedBorderRightOpen{
		border-top: 2px dashed #344861;
		border-left: 2px dashed #344861;
		border-bottom: 2px dashed #344861;
	}
	.dashedBorderBottomOpen{
		border-right: 2px dashed #344861;
		border-left: 2px dashed #344861;
		border-top: 2px dashed #344861;
	}
	.dashedBorderLeftRightOpen{
		border-bottom: 2px dashed #344861;
		border-top: 2px dashed #344861;
	}
	.dashedBorderTopBottomOpen{
		border-left: 2px dashed #344861;
		border-right: 2px dashed #344861;
	}
	.dashedBorderLeftTopOpen{
		border-right: 2px dashed #344861;
		border-bottom: 2px dashed #344861;
	}
	.dashedBorderLeftBottomOpen{
		border-right: 2px dashed #344861;
		border-top: 2px dashed #344861;
	}
	.dashedBorderRightTopOpen{
		border-bottom: 2px dashed #344861;
		border-left: 2px dashed #344861;
	}
	.dashedBorderRightBottomOpen{
		border-top: 2px dashed #344861;
		border-left: 2px dashed #344861;
	}

	.dashedBorderAllClosed{
		border: 2px dashed #344861;
	}

	.spaceHighlighted,
	.spaceHighlightedTop,
	.spaceHighlightedBottom,
	.spaceHighlightedLeft,
	.spaceHighlightedRight,
	.spaceHighlightedTopLeft,
	.spaceHighlightedTopRight,
	.spaceHighlightedBottomLeft,
	.spaceHighlightedBottomRight,
	.spaceHighlightedLookingAt,
	.spaceHighlightedLookingAtRight,
	.spaceHighlightedLookingAtLeft,
	.spaceHighlightedLookingAtTop,
	.spaceHighlightedLookingAtBottom,
	.spaceHighlightedLookingAtTopLeft,
	.spaceHighlightedLookingAtTopRight,
	.spaceHighlightedLookingAtBottomLeft,
	.spaceHighlightedLookingAtBottomRight {
		background: #e1eaf3;
	}
	.spaceHighlightedLookingAtSpecific,
	.spaceHighlightedLookingAtSpecificTop,
	.spaceHighlightedLookingAtSpecificBottom,
	.spaceHighlightedLookingAtSpecificLeft,
	.spaceHighlightedLookingAtSpecificRight,
	.spaceHighlightedLookingAtSpecificTopLeft,
	.spaceHighlightedLookingAtSpecificTopRight,
	.spaceHighlightedLookingAtSpecificBottomLeft,
	.spaceHighlightedLookingAtSpecificBottomRight {
		background: #bbdefb;
	}
	.spaceNumberTaken,
	.spaceNumberTakenRight,
	.spaceNumberTakenLeft,
	.spaceNumberTakenTop,
	.spaceNumberTakenBottom,
	.spaceNumberTakenTopRight,
	.spaceNumberTakenBottomRight,
	.spaceNumberTakenTopLeft,
	.spaceNumberTakenBottomLeft {
		background: red;
		color: white;
	}
	.avatar {
		vertical-align: middle;
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}	
	hr.solid{
		border-top: 1px solid gray;
		margin-bottom: 20px;
	}
	.navbar {
		width: 100%;
		padding: 20px 0;
		display: flex;
		justify-content: center;
		background:  white;
	}
	.navbar a{
		position: relative;
		display: inline-block;
		font-size: 20px;
		color: black;
		text-decoration: none;
		margin: 0 25px;
	}
	.navbar a::after{
		content: '';
		position: absolute;
		left: 0;
		bottom: -4px;
		width: 100%;
		height: 3px;
		background: mediumblue;
		border-radius: 40px;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform .3s;
	}	
	.navbar a:hover::after{
		transform-origin: left;
		transform: scaleX(1);
	}
	.numberPanel{
		border-radius: 5px;
		color: cornflowerblue;
		font-size: 40px;
		font-weight: 300;
		background: lightgray;
		width: 60px;
		height: 60px;
		margin: 7.5px;
	}
	.numberPanel:hover{
		color: darkturquoise;
		background: whitesmoke;
	}
	.panelConglomerate{
		margin-left: 10px;
	}
	.boardAndButtons{
		display: flex;
		justify-content: flex-end;
		translate: 50%;
	}
	.newGame{
		align-items: center;
		border-radius: 5px;
		color: white;
		height: 65px;
		width: 225px;
		font-size: 18px;
		font-weight: 600;
		background: royalblue;
	}
	.newGame:hover{
		background: cornflowerblue;
	}
	.difficultyButton,
	.solveButton{
		margin: 5px;
		padding-right: 10px;
		padding-left: 10px;
		text-align: center;
		height: 30px;
		color: black;
	}
	.difficultyButton:hover,
	.solveButton:hover{
		background: #c1c7d6;
		border-radius: 10px;
	}
	.buttonsContainer{
		align-items: center;
		display: inline-flex;
		flex-direction: row;
	}
	.buttonsContainerTwo{
		align-items: center;
		display: inline-flex;
		flex-direction: column;
	}
	.timerContainer{
		translate: 50%;
		display: inline-flex;
		align-items: center;
		padding: 10px;
		padding-left: 0px;
	}
	.timer{
		color: gray;
		font-size: 18px;
		font-weight: 250;
	}
	.Main {
		display: flex;
		flex-direction: row;
	}
	.killerSudokuTitle{
		translate: 50%;
		font-weight: 400;
		font-size: 48px;
	}
	.killerSudokuNames{
		padding-left: 5px;
		color: black;
		font-size: 18px;
		font-weight: 500;
	}
	.material-symbols-outlined{
		padding-left: 5px;
	}
	.material-symbols-outlined:hover{
		color: lightslategray;
		font-size: 27px;
	}
	.spaceTop,
	.spaceHighlightedTop,
	.spaceHighlightedLookingAtTop,
	.spaceHighlightedLookingAtSpecificTop,
	.spaceNumberTakenTop {
		border-top: 2px solid #344861;
	}

	.spaceLeft,
	.spaceHighlightedLeft,
	.spaceHighlightedLookingAtLeft,
	.spaceHighlightedLookingAtSpecificLeft,
	.spaceNumberTakenLeft {
		border-left: 2px solid #344861;
	}

	.spaceBottom,
	.spaceHighlightedBottom,
	.spaceHighlightedLookingAtBottom,
	.spaceHighlightedLookingAtSpecificBottom,
	.spaceNumberTakenBottom {
		border-bottom: 2px solid #344861;
	}

	.spaceRight,
	.spaceHighlightedRight,
	.spaceHighlightedLookingAtRight,
	.spaceHighlightedLookingAtSpecificRight,
	.spaceNumberTakenRight {
		border-right: 2px solid #344861;
	}
	.spaceTopRight,
	.spaceHighlightedTopRight,
	.spaceHighlightedLookingAtTopRight,
	.spaceHighlightedLookingAtSpecificTopRight,
	.spaceNumberTakenTopRight {
		border-right: 2px solid #344861;
		border-top: 2px solid #344861;
	}
	
	.spaceTopLeft,
	.spaceHighlightedTopLeft,
	.spaceHighlightedLookingAtTopLeft,
	.spaceHighlightedLookingAtSpecificTopLeft,
	.spaceNumberTakenTopLeft {
		border-left: 2px solid #344861;
		border-top: 2px solid #344861;
	}

	.spaceBottomRight,
	.spaceHighlightedBottomRight,
	.spaceHighlightedLookingAtBottomRight,
	.spaceHighlightedLookingAtSpecificBottomRight,
	.spaceNumberTakenBottomRight {
		border-right: 2px solid #344861;
		border-bottom: 2px solid #344861;
	}
	
	.spaceBottomLeft,
	.spaceHighlightedBottomLeft,
	.spaceHighlightedLookingAtBottomLeft,
	.spaceHighlightedLookingAtSpecificBottomLeft,
	.spaceNumberTakenBottomLeft {
		border-left: 2px solid #344861;
		border-bottom: 2px solid #344861;
	}

	input{
		display: block;
		position: absolute;
		text-align: center;
		margin: auto;
		width: 25px;
		height: 25px;
		background: inherit;
		padding: 0;
	}

	input:hover{
		cursor: default;
	}

	form{
		align-items: center;
		margin: auto;
		margin-top: 0;
	}

	legend {
		align-content: first baseline;
		height: 11px;
		text-align: left;
		font-size: 12px;
		font-weight: bold;
		color: #344861;
		padding-top: 5px 5px;
	}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

/*DONT EDIT*/
:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 255, 255, 255;
}

/*DONT EDIT*/
@media (prefers-color-scheme: light) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

/*DONT EDIT*/
body {
	background: white;
}